h1{
    font-family:cursive;
    color: blue;
    text-align: center;
   
}
legend{
    color: blue;
    width: auto;
}
*{
    background-color: black;
}
label{
    color: blue;
    text-align: center;
   
}

fieldset {
    width: 400px;
    margin: 100px auto;
   
}
input {
    color: blue;
}
button{
    color: blue;
    background-color:white;
}